/**
 * OVERVIEW
 *
 * This file contains the components that make up the page.
 * From the internal layout to font color etc.
 *
 * Respecting the BEM (Block–Element–Modifier) rule of Harry Roberts 
 * from CSS guidelines: https://cssguidelin.es/#bem-like-naming
 */


/**
 * CONTENTS
 *
 * HEADER
 *
 * NAVIGATION
 *
 * MAIN CONTENT
 *
 * FOOTER
 */



.avatar {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.avatar40 {
  width:  4rem;
  height: 4rem;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

 .header {
  background-color: #6200EA;
  height:           8rem;
  padding:          0 2rem;
}

  .header__content {
    height: 100%;
    align-items: center;
  }

    .contact-name {
      font-size:    2rem;
      font-weight:  bold;
      line-height:  3rem;
      color:        var(--thirdly-font-color);
    }

.header__student__name {
  display:      grid;
  place-items:  center;
  margin-right: 2rem;
}

  .student-name {
    font-size:      1.2rem;
    font-weight:    bold;
    line-height:    1.5rem;
    letter-spacing: .24rem;
    color:          var(--thirdly-font-color);
    text-transform: uppercase;
  }





/*------------------------------------*\
  #ASIDE LIST
\*------------------------------------*/

div.selected {
  border-left-color: var(--bg-header);
}

.search-box-wrapper {
  height:           8rem;
  width:            100%;
  background-color: var(--bg-secondary);
  padding:          1.5rem;
  border-bottom:    .1rem solid var(--bg-primary);
}

.search-box {
  width:  100%;
  height: 100%;
}

.search-form {
  width:    100%;
  height:   100%;
}

.search-input,
.search-submit {
  height:           100%;
  outline:          none;
  border:           none;
  background-color: var(--bg-primary);
}

.search-input   { width: 80%; }

.search-submit  { 
  position: relative;
  left:     -.3rem;
  top:      .4rem;
  width:    18%; 
}

.search-input {
  font-size:      1.4rem;
  line-height:    1.8rem;
  padding-left:   2.4rem;
  border-bottom:  3px solid transparent;
}

.search-input:focus { border-bottom-color: var(--secondary-font-color); }

.search-input::placeholder,
.icon {
  font-weight:  bold;
  opacity:      .25;
}

.icon {
  font-size:    2rem;
  line-height:  2rem;
}

.contact-container {
  border-bottom:  .1rem solid var(--bg-primary);
  border-left:    .3rem solid transparent; 
  height:         8rem;
  padding:        1.5rem;
}


.left {
  min-width: 10rem; /* need this in order for the 
                    white-space: nowrap; to work on the children */
}

.contact__status,
.contact__name {
  white-space:    nowrap; /* the parent must have min-width: 0; */
  overflow:       hidden;
  text-overflow:  ellipsis;
}

  .contact__name {
    font-size:      1.2rem;
    font-weight:    bold;
    letter-spacing: .24rem;
    line-height:    1.5rem;
    text-transform: uppercase;
    color:          var(--secondary-font-color);
  }

  .contact__status {
    font-size:      1.4rem;
    line-height:    2rem;
    color:          var(--primary-font-color);
  }

.avatar{
  margin-right: 1.5rem;
}

.avatar40 {
  margin-right: 0;
}

.chat__avatar__self {
  margin-right: 0;
  margin-left: 1.5rem;
}

.clearfix::after {
  content:  "";
  display:  table;
  clear:    both;
}




/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
  height: 5rem;
  border: .2rem solid var(--secondary-font-color);
  color: var(--secondary-font-color);
  border-radius: 2.4rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: bold;
  letter-spacing: .24rem;
}




/*------------------------------------*\
  #MAIN CONTENT
\*------------------------------------*/

.main { background-color: #F4F3F5; }

.right { background-color: var(--bg-primary); }

.chat {
  padding: 4rem 6rem 0 6rem;
  height: calc(100vh - 22rem);
  overflow-y: scroll;
  /* scrollbar-width:    none; */
}

.chat__line__content      { width: 100%; }

.chat::-webkit-scrollbar  { display: none; } /* hide the scrollbar in chrome */

.timestamp,
.chat__typing {
  margin-bottom:  .5rem;
  font-size:      1.2rem;
  line-height:    1.5rem;
  letter-spacing: .24rem;
  text-transform: uppercase;
  color:          var(--bg-thirdly);
  font-weight:    bold;
}

.text-right {
  text-align: end;
}

.bubble {
  margin-bottom:  1rem;
  padding:        2rem;
  font-size:      1.4rem;
  line-height:    2rem;
  max-width:      60%;
}

.sender-bubble {
  border-radius:    0 1.5rem 1.5rem 1.5rem;
  background-color: var(--bg-secondary);
  color:            var(--primary-font-color);
}

.owner-bubble {
  border-radius:    1.5rem 1.5rem 0 1.5rem;
  background-color: var(--bg-thirdly);
  color:            var(--thirdly-font-color);
}

/* .owner-bubble {
  justify-content: flex-end;
  align-self: flex-end;
  align-items: flex-end;
 } */

.chat__typing {
  margin-bottom: 25rem;
}

.compose {
  background-color: var(--bg-secondary);
  padding: 2rem 12rem 2rem 2rem;
  border-left: .1rem solid var(--bg-primary);
}

.compose__box {
  background-color: var(--bg-primary);
  position: relative;
}

.compose__box__textarea {
  background-color: var(--bg-primary);
  outline: none;
  border: none;
  border-bottom: .3rem solid transparent;
  width: 100%;
  height: 10rem;
  padding: 1.6rem 2.4rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--primary-font-color);
}

.compose__box__textarea:focus {
  border-bottom-color: var(--bg-header);
}

.compose__box__textarea::placeholder {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: bold;
  color: var(--primary-font-color);
  opacity: .25;
}

.textarea-icon  {
  position: absolute;
  top: 1.5rem;
  right: 0;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  line-height: 2rem;
  color: var(--primary-font-color);
  opacity: .25;
}

.compose__box__attachment { margin-right: 8rem; }

.compose__box__smile      { margin-right: 3rem; }

.compose__box__send {
  position: absolute;
  top: 0;
  right: -6rem;
  font-size: 2rem;
  line-height: 2rem;
  color: var(--thirdly-font-color);
  background-color: var(--bg-header);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  border: none;
  outline: none;
}