/**
 * OVERVIEW
 *
 * This file contains the components that make up the page.
 * From the internal layout to font color etc.
 *
 * Respecting the BEM (Block–Element–Modifier) rule of Harry Roberts 
 * from CSS guidelines: https://cssguidelin.es/#bem-like-naming
 */


/**
 * CONTENTS
 *
 * HEADER
 *
 * NAVIGATION
 *
 * MAIN CONTENT
 *
 * FOOTER
 */



.avatar {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.avatar40 {
  width:  4rem;
  height: 4rem;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

 .header {
  background-color: #6200EA;
  height:           8rem;
  padding:          0 3rem;
}

  .header__content {
    height: 100%;
    align-items: center;
  }

    .contact-name {
      font-size:    2rem;
      font-weight:  bold;
      line-height:  3rem;
      color:        var(--thirdly-font-color);
    }

.header__student__name {
  display:      grid;
  place-items:  center;
  margin-right: 2rem;
}

  .student-name {
    font-size:      1.2rem;
    font-weight:    bold;
    line-height:    1.5rem;
    letter-spacing: .24rem;
    color:          var(--thirdly-font-color);
    text-transform: uppercase;
  }





/*------------------------------------*\
  #ASIDE LIST
\*------------------------------------*/

.search-box-wrapper {
  height:           8rem;
  width:            100%;
  background-color: var(--bg-secondary);
  padding:          1.5rem;
}

.search-box {
  width:  100%;
  height: 100%;
}

.search-form {
  width:    100%;
  height:   100%;
}

.search-input,
.search-submit {
  height:           100%;
  outline:          none;
  border:           none;
  background-color: var(--bg-primary);
}

.search-input   { width: 80%; }

.search-submit  { 
  position: relative;
  left:     -.3rem;
  top:      .4rem;
  width:    18%; 
}

.search-input {
  font-size:      1.4rem;
  line-height:    1.8rem;
  padding-left:   2.4rem;
  border-bottom:  3px solid transparent;
}

.search-input:focus { border-bottom-color: var(--secondary-font-color); }

.search-input::placeholder,
.icon {
  font-weight:  bold;
  opacity:      .25;
}

.icon {
  font-size:    2rem;
  line-height:  2rem;
}





/*------------------------------------*\
  #MAIN CONTENT
\*------------------------------------*/

.main { background-color: #F4F3F5; }





