/**
 * OVERVIEW
 *
 * This file sets the layout of the page.
 */ 
 
  
 /**
 * CONTENTS
 *
 * LAYOUT
 * Elements.............Rules for the container and items.
 *
 */





/*------------------------------------*\
  #ELEMENTS
\*------------------------------------*/

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.layout__item--full-width { width: 100%; }

.flex-container           { display: flex; }

.flex-row                 { flex-direction: row; }

.header__content          { justify-content: space-between; }

.header__logo             { align-self: center; }


.right { 
  position: relative;
  height: 100vh;
}

.compose { 
  position: absolute;
  right: 0;
  bottom: 0; 
  width: 100%;
  height: 14rem;
}