/**
 * OVERVIEW
 *
 * This file sets the layout of the page.
 */ 
 
  
 /**
 * CONTENTS
 *
 * LAYOUT
 * Grid.................Rules for the grid container.
 * Flexbox..............Rules for the flexbox container and items.
 * Floats...............Rules for the floats items.
 * Elements.............Rules for the other containers and items.
 *
 */





/*------------------------------------*\
  #GRID
\*------------------------------------*/

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
}





/*------------------------------------*\
  #FLEXBOX
\*------------------------------------*/

.flex-container           { display: flex; }

.flex-row                 { flex-direction: row; }
.flex-col                 { flex-direction: column; }

.flex-end {
  align-items: flex-end;
  justify-content: flex-end;
 }

 .flex-start              { align-items: flex-start; }

.header__content          { justify-content: space-between; }

.header__logo             { align-self: center; }





/*------------------------------------*\
  #FLOATS
\*------------------------------------*/

.float-left   { float: left; }

.float-right  { float: right; }

.float-left::after,
.float-right::after {
  content:  "";
  display:  table;
  clear:    both;
}





/*------------------------------------*\
  #HELPERS
\*------------------------------------*/

.clearfix::after {
  content:  "";
  display:  table;
  clear:    both;
}





/*------------------------------------*\
  #ELEMENTS
\*------------------------------------*/

.layout__item--full-width { width: 100%; }

.right { 
  position: relative;
  height: 100vh;
}

.compose { 
  position: absolute;
  right: 0;
  bottom: 0; 
  width: 100%;
  height: 14rem;
}